#s-aficiones{
  background-color: $background-color-general-section;

  margin-top: $margin-top-general-section;

  #s-aficiones-container{
    

    .grid-x{
      .cell{

        h1{
          
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-family: $font-family-1;
          font-size: $font-size-titulo-section;
          font-weight: $font-weight-titulo-section;
          color: $color-titulo-section;
          padding: $padding-titulo-section;
          
        }

        // Carouselsrc2
        body {
          width:100vw;
          height: 100vhvh;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        *, *:before, *:after {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
          .swiper-container {
              width: 100%;
              height: 75vh;
              transition: opacity .6s ease;
              @media (max-width: 760px){
                height: 50vh;
              }
           .swiper-wrapper{
             .swiper-slide{
                background-position: top;
                background-size: cover;
                object-fit: cover;
                height: 50vh;
                box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
                  .content{

                  }
                  .before-slide{
                    .grid-x{
                      .cell{
                        p{
                          padding: 5px;
                          color:#0e0505;
                          text-align: center;
                          font-size: x-large;
                          font-family: helvetica;
                        }

                      }
                    }
                  }
             }

             @media (max-width: 760px){
              .swiper-slide{
                height: 30vh !important;
                .before-slide{
                  .grid-x{
                    .cell{
                      p{
                        color:#0e0505;
                        text-align: center;
                        font-size: small;
                      }
                    }
                  }
                }

              }
              
            }
           }
          }


        .swiper-container.swiper-container-coverflow {
          padding-top: 2%;
        }
        /*
        .swiper-slide {
          background-position: bottom;
          background-size: cover;
          object-fit: cover;
          height: 50vh;
          box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
        }
        */




        .swiper-slide .content {
          position: absolute;
          top: 40%;
          left: 0;
          width: 40%;
          padding-left: 5%;
          color: #fff;
        }
        .swiper-slide .content .title {
          font-size: 2.6em;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .swiper-slide .content .caption {
          display: block;
          font-size: 13px;
          line-height: 1.4;
        }
        
        $width-img: 160px !important;

        @media (max-width: 480px){
          .slide1,
          .slide2,
          .slide3,
          .slide4,
          .slide5{
            width: 185px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
        
        .slide1 {
          background-image: url("../img/Compartir-familia1.webp");
        }
 
        .slide2 {
          background-image: url("../img/Compartir-familia2.webp");

        }
        .slide3 {
          background-image: url("../img/compartir-familia3.webp");

        }
        .slide4 {
          background-image: url("../img/Compartir-familia4.webp");

        }
        .slide5 {
          background-image: url("../img/Compartir-familia5.webp");

        }
        .slide6 {
          background-image: url("../img/Compartir-familia6.webp");

        }
        .slide7 {
          background-image: url("../img/Compartir-familia7.webp");

        }
        .slide8 {
          background-image: url("../img/Compartir-familia8.webp");

        }
        .slide9 {
          background-image: url("../img/Compartir-familia9.webp");

        }
        .slide10 {
          background-image: url("../img/Compartir-familia10.webp");

        }
        .swiper-slide::after {
          content:"";
          background-image: inherit;
          background-position: inherit;
          background-size: cover;
          transform:  scaleY(-1);
          width: inherit;
          height:40%;
          position: absolute;
          bottom: -41%;
          opacity: 0.4;
        }
       
        .swiper-slide::before {
          z-index: 1;
          content:"";
          width: inherit;
          height:42%;
          position: absolute;
          bottom: -42%;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
        }
        
        .before-slide {
          z-index: 1;
          content:"";
          width: 100%;
          height:42%;
          position: absolute;
          bottom: -42%;
          // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
          // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
        
        }

        // Carouselsrc2 Fin





      }

    }
  }

  @media (max-width: 768px){
    margin-top: $margin-top-media-section;

    #s-aficiones-container{

      .grid-x{
        .cell{
          h1{
            font-size: $font-size-titulo-media-section;
            padding: $padding-titulo-media-section;

          }

        }
      }
    }
   


  }





}


@media (min-width: 481px) and (max-width: 760px) and (orientation: landscape){

  #s-aficiones{
    #s-aficiones-container{
      .grid-x{
        .cell{
          h1{
            font-size: 20px;
            padding: $padding-titulo-media-section;
          }
        }
      }
    }
  }
}


