#s-carreras {

    background-color: $background-color-acerca-gridcontainer;
    height: auto;
    @media (min-width: 1400px) and (min-height: 625px){
      height: 100vh;
    }


  .grid-container {
    padding-top: 16vh;
    #title{
    // margin-top: 16vh;
   

    }


    .grid-x {
      
          .cell {
        h1 {
          text-align: center;
          padding: 5px;
          font-family: Lulo-Clean-W01-One-Bold;
          font-size: $font-acerca-size-h3;
          color: $color-acerca-h3;
          font-weight: $font-acerca-weight-h3;
        }
      }
    }
  }

  .top-bar{
    background-color: $background-color-certif-top-bar;
  }
}

.mega-menu {
  display: flex;
  text-align: center;
  justify-content: center;

  .dropdown-pane {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto !important;
    left: 0% !important;
    right: 0% !important;
    padding: 1px;
  }

  .menu {
    background: none;
  }
}

#carreras1 {
  justify-content: center;

  background-color: $color-certif-carreras-fondo;


  #li1,
  #li2,
  #li3,
  #li4 {
    a {
      padding-top: 5%;
      width: 80%;

      figure {
        margin: 5px;
      }

      h4 {
        padding-top: 5%;
        font-size: 16px;
        color: $color-certif-carreras-h4-text;
        text-align: center;
        margin-top: 4px;
      }
    }

    #buttons {
      display: flex;
      justify-content: center;
      .mas {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: "";
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: $color-certif-carreras-buttons;
      }
    }

    #mega-menu1,
    #mega-menu2,
    #mega-menu3,
    #mega-menu4 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-certif-carreras-fondo-cursos;

      .expanded {
        justify-content: center;
        display: block;
        h2 {
          color: $color-certfi-carreras-h2;
          margin-top: 5px;
        }
      }

      .grid-x {
        display: flex;
        text-align: center;
        justify-content: center;

        .cell {
          display: flex;
          font-size: 16px;
          width: 150px;
          height: auto;
          justify-content: center;

          a {
            margin-top: 10px;
            figure {
              margin: 2px;
            }

            h3 {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 16px;
              color: $color-certfi-carreras-h3;
              
            }
          }
        }
      }
    }
  }
}

#otros-cursos {
  display: block;
  justify-content: center;

  h2 {
    text-align: center;
    margin-top: 10px;
    color: $color-certfi-carreras-h2;
  }

  .grid-x {
    display: flex;
    justify-content: center;
    padding: 5px;

    .cell {
      display: flex;
      font-size: 16px;
      width: 150px;
      height: auto;
      justify-content: center;
      text-align: center;

      a {
        margin-top: 10px;
        figure {
          margin: 2px;
        }
        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 16px;
          color: $color-certfi-carreras-h3;
          
        }
      }
    }
  }
}


@media (min-width: 767.98px){
  #s-carreras{
    margin-top: 100px;

  }
}

@media (max-width: 767.98px) {
  #s-carreras{
    margin-top: 5px !important;
    height: auto;

    .grid-container{
      padding: 4vh;
      #title{
        .cell{
          h1{
            
            font-size: $font-acerca-media-size;
            
          }
        }
      }

      #carreras1{
        #li1,
        #li2,
        #li3,
        #li4{

          #mega-menu1,
          #mega-menu2,
          #mega-menu3,
          #mega-menu4 {
            background-color:$background-certif-media-fondo-cursos;

            .expanded{

              #close-cert-cursos{
                color:#17e017;

            
              }

              h2{
                font-size: 4vh;
                margin: 2vh;
                padding: 2vh 2px 1px 2px;

               

              }
            }
          }

        }
      }
    }

  }
}

// modales certificados carreras

@media (min-width: 576px){
  .modal-dialog{
    max-width: 600px !important;
    margin: 1.75rem auto;
  }
}