#grid-container-fluid {
  position: sticky;
  top: 0;
  z-index: +5;
}

.grid-container-fluid-color {
  background-color: $color-header-container-cinta-narvar;

  a {
    line-height: inherit;
    color: $color-header-container-cinta-social;
    text-decoration: $anchor-text-decoration;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-header-container-cinta-narvar-a-hover;
      @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
      }
    }

    img {
      border: 10;
    }
  }
}

$hero-height: 60vh;

.hero-section {
  background: url("../img/Img-header-portada.jpg") 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $color-header-container-herotext-shadow;
  }
}

body {
  padding-top: $sticky-shrinknav-hero-height + 30px;
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 0;
  height: $sticky-shrinknav-menu-height;
  line-height: $sticky-shrinknav-menu-height;
  width: 100%;
  background-color: $color-header-menu-ul-bg;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    border-radius: 2px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 1px $white;
    }
  }

  a {
    color: $color-header-container-cinta-narvar-a;
  }
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
  margin-bottom: 0;
  color: $white;
}

.sticky-shrinknav-header {
  width: 100%;
  height: $sticky-shrinknav-hero-height;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: -100px;
  max-height: 70vh;
  /* acomoda la imagen que se distorsiona con el max-height: ; */
  object-fit: cover;
  /* poner las inmagenes en escala de grises para porner un texto sobres las imagenes */
  filter: $sticky-shrinknav-header-filter;
}

body.sticky-shrinknav-wrapper {
  .sticky-shrinknav-header {
    height: $sticky-shrinknav-menu-height;
    background-color: rgba($primary-color, 0.9);

    .sticky-shrinknav-header-title {
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }
}

// HEADER1



  