$border-radius-circulo-hobbies: 50%;
$border-circulo-hobbies: 10px solid black;
$width-circulo-hobbies: 100px;
$height-circulo-hobbies: 100px;
$margin-circulo-hobbies: 5px;
$background-circulo-hobbies: red;
$font-size-circulo-i-hobbies: 300%;
$background-circulo-i-hobbies: #343a40d9;
$color-circulo-i-hobbies: rgb(12, 11, 11);
$border-radius-circulo-i-hobbies: 50%;
$width-circulo-i-hobbies: 100%;
$height-circulo-i-hobbies: 100%;



#s-hobbies{
  background-color: $background-color-general-section;
  margin-top: $margin-top-general-section;
  margin-bottom: 5px;

    @media (min-width: 800px){
      height: 100vh;
      margin-bottom: 5vh;
    }


  .grid-container{
   
    .grid-x{
      
      .cell{
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color:rgb(68, 17, 163);
        // border: 2px solid $background-color-general-section;
        @media (min-width: 800px){
          margin-top: -10px;
          
        }

        h1{
          
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-family: $font-family-1;
          font-size: $font-size-titulo-section;
          font-weight: $font-weight-titulo-section;
          color: $color-titulo-section;
          padding: $padding-titulo-section;


          
        }

        .contorno{
          padding: 10px;

          // background-color: rgb(69, 172, 231);
         
          div{
            display: flex;
            justify-content: center;

            .hobbies-circulo{
              width: $width-circulo-hobbies;
              height: $height-circulo-hobbies;
              border-radius: $border-radius-circulo-hobbies;
              // margin: $margin-circulo-hobbies;
              // background-color:$background-circulo-hobbies;
              border: $border-circulo-hobbies;
              display: flex;
              justify-content: center;
              align-items: center;
  
              i{
  
                font-size: $font-size-circulo-i-hobbies; 
                color: $color-circulo-i-hobbies;
                background-color: $background-circulo-i-hobbies;
                border-radius: $border-radius-circulo-i-hobbies;
                width: $width-circulo-i-hobbies;
                height: $height-circulo-i-hobbies;
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
              }
            }

          }

          h4{
            // background-color:red;
            text-align: center;
            color: #fbf3f3;
            margin-top: 5px;
            font-family: $font-family-1;
            font-size: 15px;
          }
          p{
            // background-color:gold;
            text-align: center;
            padding: 2px;
            width: 300px;
            color: #c9c3c3;
            font-family: helvetica;
          }


        }
      }
    }
  }

  @media (max-width: 768px){
    margin-top: $margin-top-media-section;
  
    #s-hobbies-container{
  
      .grid-x{
        margin-top: 0;
        .cell{
          h1{
            font-size: $font-size-titulo-media-section;
            padding: $padding-titulo-media-section;
            
  
          }
  
        }
      }
    }
  
  }



}





@media (min-width: 481px) and (max-width: 760px) and (orientation: landscape){

  #s-hobbies{
    #s-hobbies-container{
      .grid-x{
        .cell{
          
          h1{
            font-size: 20px;
            padding: $padding-titulo-media-section;
            
          }
        }
      }
    }
  }
}

