
// El CSS lo llama directamente de foundation por link

body {
  background-color: #E6E8EB;
  padding: 16px;
}

@media screen and (min-width: 40em) {
  body {
    padding: 20px;
    
  }
}





#s-lineatiempo{
  background-color: #00000069;
  // background: url('../img/Everest.webp') 50% no-repeat;
  background: url('../img/torre-ifel.svg') 50% no-repeat;
  background-size: cover;
  object-fit: cover;
  // filter: grayscale(70%);

  margin-top: 10vh;


  #t-fondo-color{
    // background-color: #00000021;
    // background-color: #100f10f2;
    background-color: #050005bd;
  }

  @media (max-width: 720px){
    margin-top: 5px;
    
  }
}


#lineadetiempo{

  h1{
    text-align: center;
    padding: 5px;
    font-family: Lulo-Clean-W01-One-Bold;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 800;
    padding-top: 15vh;

     @media (max-width: 468px){
       font-size: 3.2vh;
       padding: $padding-titulo-media-section;
       
     }
     @media (min-width: 469px) and (max-width: 768px){
      font-size: 20px;

     }


  }
  .timeline{



    .timeline-item{
      margin-bottom: 0;
      .timeline-icon{
        display: flex;
        align-items: center;
        justify-content: center;

        a{
          font-size: 100%;
          width: 100%;
          height:100%;
          text-align: center;
          text-justify: auto;
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }


      .timeline-content{
        margin: 0 20px 0 20px;
        padding: 10px 20px 10px 20px;
        p{
          color:rgb(19, 240, 19);
        }

        h3{
          // color: #292929;
          color: #87e6be;
          font-weight: bold;
          margin-bottom: 0;
          a{
            color: #87e6be;
            
          }

        }

        h4{
          // color:#3B2D2D;
          color:#ada175;
          font-weight: bold;
          margin-bottom: 0;
          font-size: 2.5vh;
          // text-align: justify;
          font-family: helvetica-light !important;

          @media (max-width: 468px){
            font-size: 2vh;
            
            
          }
          @media (min-width: 469px) and (max-width: 768px){
            font-size: 4vh;
            
            
          }
          
                    
        }
        h5{
          color: #FFFFFF;
          font-weight: bold;
          margin-bottom: 0;
          font-family: helvetica-light !important;
          
          

        }
        h6{
          // color: #1d1912;
          color: #6874aa;
          font-weight: bold;
          margin-bottom: 0;

        }

        ol li{
          color: #debba8;
        }



        .ptexto{
         color:#f9fdf9;
          text-align: justify;
          font-family: helvetica-light !important;




        }

        .olullip{
        color: #debba8;
         
        }






      }

    }


  }
}