// $COLORS

// Branding Colors

$color-brand: #ea83ee;
$color-brand-secunda: rgb(219, 216, 121);
$color-prueba: #500a6b;

// $HEADER

$color-header-container-cinta-narvar: #2c1d1ddb;
$color-header-container-cinta-narvar-a: #397edb;
$color-header-container-cinta-narvar-a-hover: #00ffaf;
$color-header-container-cinta-social: #11e79b;
$color-header-container-herotext-shadow: #0a0a0ab5;
$color-header-menu-ul-bg: rgba(215, 215, 215, 0);
// $color-header-container: #fdfcf7;
// $color-header-grid-x: #1d92cf;
// $color-header-menu: #f30d0d;

///////////////////////////////
// otras Variasbles header  ///
///////////////////////////////
// tamaño height cinta header narvar
$sticky-shrinknav-menu-height: rem-calc(80);
// tamaño herder hero imagen
$sticky-shrinknav-hero-height: 400px;
// scala de gris header hero imagen
$sticky-shrinknav-header-filter: grayscale(50%);

// $CERTIFICACIONES
$background-color-certif-top-bar: #00000000;
$color-certif-carreras-cursadas: rgb(216, 214, 214);
$color-certif-carreras-fondo: #faf0f000;
$color-certif-carreras-h4-text: #A1F1BB;
$color-certif-carreras-buttons: #ef1d05fc transparent transparent;
// $color-certif-carreras-fondo-cursos: #d8d6d63d; // Transparente
$color-certif-carreras-fondo-cursos: #2f332d;
$color-certfi-carreras-h2: #e06d0e;
// $color-certfi-carreras-h3: #242536;
$color-certfi-carreras-h3: $color-certif-carreras-h4-text;
$background-certif-media-fondo-cursos: #2f332d;

// $ACERCA

$background-color-acerca-gridcontainer: #00000069;
$color-acerca-texto-span: #A1F1BB;
$font-acerca-size: 3vh;
$color-acerca-h3: #FFFFFF;
$font-acerca-size-h3: 40px;
$font-acerca-weight-h3: 800;
$font-acerca-media-size: 20px;
$font-acerca-family-h3: Lulo-Clean-W01-One-Bold;
