$proyectos-targe-texto-padding: 0 2vh 0 2vh;

#s-proyectos1{
  background-color: $background-color-general-section;
  margin-top: $margin-top-general-section;
  
  // aliniar todo el contenido vertical y orizontal 


  height: 100vh;

  
  
  #s-proyectos-container1{


    .grid-x{
      #titulo-proyectos{
        background-color: yellow;
        h1{
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-family: $font-family-1;
          font-size: $font-size-titulo-section;
          font-weight: $font-weight-titulo-section;
          color: $color-titulo-section;
          padding: $padding-titulo-section;
        }
      }
    }

    .grid-x{

      display: flex;
      justify-content: center;
      background-color: red;

      .cell-targe{
                // text-align: center;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                border-radius: 1.6vh;
                padding: 0.8vh;
                border: #000000 solid 2px;
                background-color: #00000069;
                // margin-top: -1vh;
                // margin-bottom: 2vh;
                max-height: 100%;

        .grid-x{
          // height: 20vh;
          .cell{
            #id-figure1,
            #id-figure2,
            #id-figure3{
              // min-width: 25.8vh;
              height: 20vh;
              background-position: top;
              background-size: cover;
              object-fit: cover;
              border-radius: 5px;
            }

            #id-figure1{
              background-image: url(../img/bujacargo-web.webp);
            }
            #id-figure2{
              background-image: url(../img/bellavista2.webp);
            }
            #id-figure3{
              background-image: url(../img/cajero.webp);
            }
          }
          .cell{
            .grid-y{
              .cel-titulo-targe{
                padding: $proyectos-targe-texto-padding;
                h3{
                  font-size: 1.5em;
                  color: #99edca;
                }
              }
              .cel-body-targe{
                padding: $proyectos-targe-texto-padding;
                p{
                  text-align: justify;
                  color: #e4cece;
                }
              }
              .cel-vermas-targe{
                padding: $proyectos-targe-texto-padding;
                a{
                  border: 5px solid #0d162742;
                  border-radius: 6px;
                  padding: 5px;
                  background-color: #0d1627;
                }
              }

            }
          }
        }


      }


    }

  }
}