<button id="close-cert-cursos" class="close-button" aria-label="Dismiss alert" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>

<h2>Cursos de la Carrera Administracion de Servidores</h2>
<div id="cursos-servidores" class="grid-x">
  <div class="cell medium-3">
    <a
      href="https://platzi.com/@hectorjm/curso/1123-linux-2017/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-servidores-linux-7d642e59-3c89-4921-b998-96b6e0d4e4a4.png"
          width="60"
          height="60"
          alt="Curso de Administración de Servidores Linux"
        />
      </figure>
      <h3>Curso de Administració de Servidores Linux 2017</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1667-linux/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-servidores-linux-7d642e59-3c89-4921-b998-96b6e0d4e4a4.png"
          width="60"
          height="60"
          alt="Curso de Administración de Servidores Linux"
        />
      </figure>
      <h3>Curso de Administración de Servidores Linux 2019</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a
      href="https://platzi.com/@hectorjm/curso/1276-terminal-2019/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1276-62e97e39-63d1-4139-b299-fc5eb65a9905.png"
          width="60"
          height="60"
          alt="Introducción a Terminal y Línea de Comandos 2019"
        />
      </figure>
      <h3>Introducción a Terminal y Línea de Comandos 2019</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a
      href="https://platzi.com/@hectorjm/curso/1653-digital-ocean/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-digital-ocean-b45a374d-abb7-48e7-bdf1-6835e5889a70.png"
          width="60"
          height="60"
          alt="Curso de Digital Ocean"
        />
      </figure>
      <h3>Curso de Digital Ocean</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a
      href="https://platzi.com/@hectorjm/curso/1712-devops-terraform/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-terraform-bdde51f8-c870-47f7-9ba7-33ef21b1e7c4.png"
          width="60"
          height="60"
          alt="Curso de Infraestructura Como Código con Terraform"
        />
      </figure>
      <h3>Curso de Infraestructura Como Código con Terraform</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1526-gitlab/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-gitlab-81a80b64-5304-4276-8f94-19a8a1e8912d.png"
          width="60"
          height="60"
          alt="Curso de DevOps con GitLab"
        />
      </figure>
      <h3>Curso de DevOps con GitLab</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a
      href="https://platzi.com/@hectorjm/curso/1704-azure-iaas/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-azure-iaas-12d4aec5-4a35-403c-a29d-2766d7969197.png"
          width="60"
          height="60"
          alt="Curso de Azure IaaS"
        />
      </figure>
      <h3>Curso de Azure IaaS</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1706-sql-azure/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-sql-azure-946e0c2b-153b-4868-9ec9-22bea54335ea.png"
          width="60"
          height="60"
          alt="Curso de SQL en Azure"
        />
      </figure>
      <h3>Curso de SQL en Azure</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1323-aws-cloud/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1323-b1cdbbea-6d17-4d0d-a3d1-ec8b5700dae6.png"
          width="60"
          height="60"
          alt="Curso de Fundamentos de AWS Cloud"
        />
      </figure>
      <h3>Curso de Fundamentos de AWS Cloud</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1432-docker/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-fundamentos-docker-ef085173-492c-4076-b457-78af9155f8c0.png"
          width="60"
          height="60"
          alt="Fundamentos de Docker"
        />
      </figure>
      <h3>Fundamentos de Docker</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1565-k8s/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-kubernetes-1ed7c0b2-01c3-4d4c-ba8a-6de3c35af64c.png"
          width="60"
          height="60"
          alt="Curso de Kubernetes"
        />
      </figure>
      <h3>Curso de Kubernetes</h3></a
    >
  </div>
  <div class="cell medium-3">
    <a href="https://platzi.com/@hectorjm/curso/1219-ibm-cloud/diploma/detalle/" target="_black"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1219-963070ef-0244-4846-aaf5-59b57233aecd.png"
          width="60"
          height="60"
          alt="Fundamentos de IBM Cloud"
        />
      </figure>
      <h3>Fundamentos de IBM Cloud</h3></a
    >
  </div>
</div>
