<button id="close-cert-cursos" class="close-button" aria-label="Dismiss alert" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>

<h2>Cursos de la Carrera de bases de Datos</h2>

<div id="cursos-datos" class="grid-x">
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1566-bd/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-fundamentos-de-bases-de-datos-cc5eff2a-a7e0-4110-af5d-a47b628611da.png"
          width="60"
          height="60"
          alt="Fundamentos de Bases de Datos"
        />
      </figure>
      <h3>Fundamentos de Bases de Datos</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1272-sql-mysql/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1272-15ff4836-0221-4001-b945-5cf34bd65bab.png"
          width="60"
          height="60"
          alt="Curso de SQL y MySQL"
        />
      </figure>
      <h3>Curso de SQL y MySQL</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1480-postgresql/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-postgresql-2f962bec-2552-403a-803d-85db006f2731.png"
          width="60"
          height="60"
          alt="Curso de PostgreSQL"
        />
      </figure>
      <h3>Curso de PostgreSQL</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1533-mongodb/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-mongo-db-5f684168-798f-42ad-a17c-2e8f0c40a477.png"
          width="60"
          height="60"
          alt="Curso Básico de MongoDB"
        />
      </figure>
      <h3>Curso Básico de MongoDB</h3></a
    >
  </div>
</div>
