<button id="close-cert-cursos" class="close-button" aria-label="Dismiss alert" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>

<h2>Cursos de la Carrera Arquitectura Frontend</h2>
<div id="cursos-frontend" class="grid-x">
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1492-html-css/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-html-css-b0a71550-d5e7-4e27-aca2-f09f1321a517.png"
          width="60"
          height="60"
          alt="Curso de HTML y CSS"
        />
      </figure>
      <h3>Curso de HTML y CSS</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1350-html5-css3/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1350-09ddb033-354b-4c0c-84a4-56cbb71d0b08.png"
          width="60"
          height="60"
          alt="Curso de Desarrollo Web Online"
        />
      </figure>
      <h3>Curso de Desarrollo Web Online</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1229-css-grid-layout/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1229-dbff8a06-bcca-48e9-98e3-1fd76d6216f3.png"
          width="60"
          height="60"
          alt="Curso de CSS Grid Layout"
        />
      </figure>
      <h3>Curso de CSS Grid Layout</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1362-responsive-design/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1362-87c8ad3d-a50d-41a2-b023-ad838594e1c9.png"
          width="60"
          height="60"
          alt="Curso de Responsive Design"
        />
      </figure>
      <h3>Curso de Responsive Design</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1103-animaciones-web/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1103-0dce9ce6-dd88-466b-af07-76a87643c8b7.png"
          width="60"
          height="60"
          alt="Curso de Animaciones para la Web"
        />
      </figure>
      <h3>Curso de Animaciones para la Web</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1244-sass/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1244-caa8d210-5abc-4728-b21a-609a23a572a7.png"
          width="60"
          height="60"
          alt="Curso de Sass"
        />
      </figure>
      <h3>Curso de Sass</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1245-stylus/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1245-816d993b-07dd-464b-8f62-8edacfb5eff5.png"
          width="60"
          height="60"
          alt="Curso de Stylus"
        />
      </figure>
      <h3>Curso de Stylus</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1246-less/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1246-d7de29a9-8c73-46e5-9383-dbf46d54c294.png"
          width="60"
          height="60"
          alt="Curso de Less"
        />
      </figure>
      <h3>Curso de Less</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1331-bootstrap/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1331-cda68a62-24e5-464a-95ca-6e5d339c7244.png"
          width="60"
          height="60"
          alt="Curso de Bootstrap"
        />
      </figure>
      <h3>Curso de Bootstrap</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1332-foundation/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1332-e7c13608-2eb0-4b71-b6db-3de781bd56c5.png"
          width="60"
          height="60"
          alt="Curso de Foundation"
        />
      </figure>
      <h3>Curso de Foundation</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1242-postcss/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1242-bab42328-f5da-42e3-a0a6-d4511ff49de9.png"
          width="60"
          height="60"
          alt="Curso de PostCSS"
        />
      </figure>
      <h3>Curso de PostCSS</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1355-bots-fb/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1355-571dc94e-6f15-4e83-b558-71edeb7b9153.png"
          width="60"
          height="60"
          alt="Curso de Bots con Facebook Messenger"
        />
      </figure>
      <h3>Curso de Bots con Facebook Messenger</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1390-optimizacion-web/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1390-a7211209-7103-496d-958a-52cb8b05b116.png"
          width="60"
          height="60"
          alt="Curso de WPO: Optimización de Carga de Sitios Web"
        />
      </figure>
      <h3>Curso de WPO: Optimizacion de Carga de Sitios Web</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1422-diseno-desarrolladores/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-sistemas-desarrolladores-041a4def-ce1a-4e88-9c84-eb3eff740433.png"
          width="60"
          height="60"
          alt="Curso de Sistemas de Diseño para Desarrolladores"
        />
      </figure>
      <h3>Curso de Sistemas de Diseño para Desarrolladores</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1542-pruebas-unitarias/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-unit-testing-jasmine-21b68d60-2a18-4a8c-9d72-6b72549dd2af.png"
          width="60"
          height="60"
          alt="Curso de Unit Testing para MEAN con Jasmine"
        />
      </figure>
      <h3>Curso de Unit Testing para MEAM con Jasmine</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1170-git-github-2017-old/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-github-c53a39e6-772b-4e41-b3c4-223bb252fbd6.png"
          width="60"
          height="60"
          alt="Curso profesional de Git y GitHub 2017"
        />
      </figure>
      <h3>Curso Profesional de Git y Github 2017</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1557-git-github/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-github-0b729570-934d-47d8-ba6b-610d7f15e0ec.png"
          width="60"
          height="60"
          alt="Curso Profesional de Git y GitHub"
        />
      </figure>
      <h3>Curso Profesional de GitHub 2019</h3></a
    >
  </div>
</div>
