
      <button id="close-cert-cursos" class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>



    <h2>Cursos de la carrera amazon Web Services</h2>

<div id="cursos-aws" class="grid-x">
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1323-aws-cloud/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/1323-b1cdbbea-6d17-4d0d-a3d1-ec8b5700dae6.png"
          width="60"
          height="60"
          alt="Curso de Fundamentos de AWS Cloud"
        />
      </figure>
      <h3>Curso de Fundamentos de AWS Cloud</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1419-networking-content/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-networking-aws-f11f2e85-01b0-4573-8b14-a785cef4b31b.png"
          width="60"
          height="60"
          alt="Curso de Networking y Content Delivery en AWS"
        />
      </figure>
      <h3>Curso de Networking y Content Delivery en AWS</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1424-storage-aws/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-aws-storage-7216e86a-d798-4943-a148-c39bd1a20f25.png"
          width="60"
          height="60"
          alt="Curso de Storage en AWS"
        />
      </figure>
      <h3>Curso de Storage en AWS</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1426-db-aws/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-batabase-aws-46362796-bae4-464f-8643-c69a9d8b17da.png"
          width="60"
          height="60"
          alt="Curso de Bases de Datos en AWS"
        />
      </figure>
      <h3>Curso de Bases de Datos en AWS</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a
      href="https://platzi.com/@hectorjm/curso/1427-aws-computo/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badges-computo-aws-08dc8f87-552f-4954-b956-2eacdfc94a88.png"
          width="60"
          height="60"
          alt="Curso de Cloud Computing con AWS"
        />
      </figure>
      <h3>Curso de Cloud Computing con AWS</h3></a
    >
  </div>
  <div class="cell medium-2">
    <a href="https://platzi.com/@hectorjm/curso/1717-iaac-aws/diploma/detalle/"
      ><figure>
        <img
          src="https://static.platzi.com/media/achievements/badge-infraestructura-codigo-aws-523f9344-e19f-4d04-bd06-8b6c159e95e7.png"
          width="60"
          height="60"
          alt="Curso de Infraestructura Como Código en AWS"
        />
      </figure>
      <h3>Curso de Infraestructura Como Código en AWS</h3></a
    >
  </div>
</div>

