
<div id="acerca-contenedor" style="width:100%;position:relative;top:0;bottom:0" class="strc1inlineContent acerca-contenedor grid-container full" >

    <div id="Content-gridWrapper" data-mesh-internal="true">




      <div id="gridContainer" data-mesh-internal="true">

        <div class="grid-x">
      
            <div class="cell small-12">
              <div id="h3-acerca" data-packed="true" style="pointer-events: none;" class="txtNew" >
                <h3  style="line-height:1.3em; text-align:center;">
                  01 ACERCA DE MI
                </h3>
              </div>
            </div>


            <div class="cell small-12  medium-10 medium-offset-1 large-8 large-offset-2">
              <div id="acerca-texto" data-packed="false" style=min-height: 242px; pointer-events: none; visibility: inherit;" data-min-height="242" class="txtNew">
                <p>
                  <span>
                    <span>
                      Poseo conocimientos en arquitectura <strong style="font-family: helvetica-light; color:#ffffff;"> front-end,
                       administración de servidores y Devops,
                        bases de datos y Amazon Web Services</strong>. Asimismo, 
                        amplia experiencia, destreza y conocimientos en diseño,
                        instalación, mantenimiento y soporte de: 
                        sistemas operativos sobre infraestructura de capa media a nivel de servidores,
                         workstations y entornos de colaboración sobre dispositivos móviles y fijos como 
                         estaciones de trabajo. Adicionalmente, conozco ampliamente el diseño y configuración 
                         de redes LAN y WAN. Finalmente tengo la capacidad de administrar entornos tecnológicos y gestionar aspectos 
                          administrativos de TI basados en mejores prácticas como Cobit e ITIL.
                    </span>
                  </span>
                </p>
    
                <!-- <p id="texto-espacio">&nbsp;</p> -->
                <p class="texto-espacio">&nbsp;</p>
                
                <p>
                  <span>
                    <span >
                      Mis principales valores están fundamentados en la responsabilidad,
                      honestidad, resultado ágil, recursivo, dinámico, sentido de pertenencia y compromiso,
                      trabajo en equipo, toma de decisiones y excelentes relaciones interpersonales.
                    </span>
                  </span>
                </p>


                
    
              </div>


            </div>
    



    
        </div>



      </div>
    </div>

</div>


