<section class="swiper-container loading">
  <div class="swiper-wrapper grid-x">
    <div class="swiper-slide slide1 cell small-12">
      <div class="content">
        <p
          class="title"
          data-swiper-parallax="-30%"
          data-swiper-parallax-scale=".7"
        >
          Shaun Matthews
        </p>
        <span class="caption" data-swiper-parallax="-20%"
          >Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.</span
        >
      </div>
    </div>

    <div class="swiper-slide slide2">
      <div class="content">
        <p
          class="title"
          data-swiper-parallax="-30%"
          data-swiper-parallax-scale=".7"
        >
          Alexis Berry
        </p>
        <span class="caption" data-swiper-parallax="-20%"
          >Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.</span
        >
      </div>
    </div>

    <div class="swiper-slide slide3">
      <div class="content">
        <p
          class="title"
          data-swiper-parallax="-30%"
          data-swiper-parallax-scale=".7"
        >
          Billie Pierce
        </p>
        <span class="caption" data-swiper-parallax="-20%"
          >Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.</span
        >
      </div>
    </div>

    <div class="swiper-slide slide4">
      <div class="content">
        <p
          class="title"
          data-swiper-parallax="-30%"
          data-swiper-parallax-scale=".7"
        >
          Trevor Copeland
        </p>
        <span class="caption" data-swiper-parallax="-20%"
          >Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.</span
        >
      </div>
    </div>

    <div class="swiper-slide slide5">
      <div class="content">
        <p
          class="title"
          data-swiper-parallax="-30%"
          data-swiper-parallax-scale=".7"
        >
          Bernadette Newman
        </p>
        <span class="caption" data-swiper-parallax="-20%"
          >Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.</span
        >
      </div>
    </div>
  </div>
</section>
