<footer id="s-footer">
  <div class="grid-container">
    <div id="social-media" class="grid-x">
      <div class="cell small-4 medium-4 large-4"><a href="https://www.linkedin.com/in/hectorjaviermorenoh/" target="_black"><i class="fi-social-linkedin"></i></a></div>
      <div class="cell small-4 medium-4 large-4"><a href="mailto:hectorjaviermorenoh@gmail.com"><i class="fi-at-sign"></i></a></div>
      <div class="cell small-4 medium-4 large-4"><a href="https://github.com/cytelsystem" target="_black"><i class="fi-social-github"></i></a></div>
      <!-- <div class="cell small-2 medium-2 large-2"><a href="https://www.facebook.com/hector.j.moreno.16/" target="_black"><i class="fi-social-facebook"></i></a></div> -->
      <!-- <div class="cell small-2 medium-2 large-2"><a href="https://twitter.com/CytelSystemNet" target="_black"><i class="fi-social-twitter"></i></a></div> -->
      <!-- <div class="cell small-2 medium-2 large-2"><a href="https://www.youtube.com/channel/UCXhEKxlZsUc7Yp3bNpLR6Kg" target="_black"><i class="fi-social-youtube"></i></a></div> -->
    </div>

    <div id="copyring" class="grid-x">
      <div id="cel-izq" class="cell small-2 medium-2 large-6"><i class="icon-logo-letras-javier"></i></div>
      <div id="cel-der" class="cell small-10 medium-10 large-6"><p>© 1976-2020 CytelSystem / Hector Javier Moreno. All rights reserved. &#128187; </p></div>
    </div>
  </div>



</footer>