<section id="s-habilidades">

  <grid-container id="s-container-habilidades">
    <div class="grid-x">
      <div class="cell medium-12">
        <h1>03 HABILIDADES</h1>
      </div>
    </div>
    <div class="grid-x">

      <div class="grid-y">
        <div class="cell s-nombre">Amazon Web Service</div>
        <div class="cell s-img" style="width:300px; height: 200px;"><img src="./assets/img/aws-habilidades.svg" alt=""></div>
        <div class="cell s-progres">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
        </div>
 
      </div>
      <div class="grid-y">
        <div class="cell s-nombre">Infraestructura</div>
        <div class="cell s-img" style="width:300px; height: 200px;"><img src="./assets/img/infraestructura-habilidades.svg" alt=""></div>
        <div class="cell s-progres">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </div>
 
      </div>
      <div class="grid-y">
        <div class="cell s-nombre">Bases de datos</div>
        <div class="cell s-img" style="width:300px; height: 200px;"><img src="./assets/img/bdatos-habilidades.svg" alt=""></div>
        <div class="cell s-progres">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
        </div>
 
      </div>
      <div class="grid-y">
        <div class="cell s-nombre">Front End</div>
        <div class="cell s-img" style="width:300px; height: 200px;"><img src="./assets/img/frontend-habilidades.svg" alt=""></div>
        <div class="cell s-progres">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>
        </div>
 
      </div>

    </div>

  </grid-container>
</section>