<div
  id="grid-container-fluid"
  class="grid-container full grid-container-fluid-color"
>
  <div id="gridheader" class="grid-x">
    <div class="cell large-6">{{> cinta-header-social}}</div>
    <div class="cell large-6">
      <ul class="sticky-shrinknav-menu menu align-center">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Certificaciones</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</div>

<header class="hero-section sticky-shrinknav-header">
  <div id="herotext" class="hero-section-text">
    <h1>Trabajando en el Futuro</h1>
  </div>
</header>
