<!-- <section id="s-hobbies"  onwheel="my79904519()"> -->
<section id="s-hobbies">
  
  
  <div id="s-hobbies-container" class="grid-container fluid">
      <div class="grid-x">
        
        <div id="s-hobbies-title" class="cell medium-6 medium-offset-3">
          <h1>06 Aficiones</h1>
        </div>

        <div class="cell medium-4 medium-offset-2">
          <div id="contorno1" class="contorno" data-toggler data-animate="entrandoin saliendoout">
            <div><div class="hobbies-circulo"><i id="balon" class="icon-fi-balon-futbol"></i></div></div>
            <h4>Fútbol</h4>
            <p>He jugado fútbol desde que era niño. Es mi deporte favorito.</p>
          </div>
        </div>
        <div class="cell medium-4">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-audifonos"></i></div></div>
            <h4>Canciones en English</h4>
            <p>Me gusta Aprender Canciones en English para adquirir buen oído en el idioma extranjero</p>
          </div>
        </div>
        <div class="cell medium-4 medium-offset-2">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-tecnologia"></i></div></div>
            <h4>Tecnología</h4>
            <p>Gasto gran parte de mi tiempo libre  buscando y aprendiendo de tecnología.</p>
          </div>
        </div>
        <div class="cell medium-4">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-bailar"></i></div></div>
            <h4>Bailar</h4>
            <p>Me encanta bailar salsa y música bailable</p>
          </div>
        </div>
      </div>

  </div>
  

</section>



 
<!-- Fucion no funcionando que permite ejecutar algo con scroll y onwheel="myFunction() en el div -->
<script>
  
  // function myFunction() {
    
    // document.getElementById("s-hobbies").addEventListener("wheel", myFunction);
  
  
    // document.getElementById("s-hobbies").style.backgroundColor = "red";

  // }


</script>

