<section id="s-hobbies">
  <div class="grid-container fluid">
      <div class="grid-x">
        
        <div class="cell medium-6 medium-offset-3">
          <h1>05 Aficiones</h1>
        </div>

        <div class="cell medium-6">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-balon-futbol"></i></div></div>
            <h4>Fútbol</h4>
            <p>He jugado fútbol desde que era niño. Es mi deporte favorito.</p>
          </div>
        </div>
        <div class="cell medium-6">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-audifonos"></i></div></div>
            <h4>Canciones en English</h4>
            <p>Me gusta Aprender Canciones en English para adquirir buen oído en el idioma extranjero</p>
          </div>
        </div>
        <div class="cell medium-6">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-tecnologia"></i></div></div>
            <h4>Tecnología</h4>
            <p>Gasto gran parte de mi tiempo libre  buscando y aprendiendo de tecnología.</p>
          </div>
        </div>
        <div class="cell medium-6">
          <div class="contorno">
            <div><div class="hobbies-circulo"><i class="icon-fi-bailar"></i></div></div>
            <h4>Bailar</h4>
            <p>Me encanta bailar salsa y música bailable</p>
          </div>
        </div>
      </div>

  </div>

</section>