<!-- Header -->
<nav
  id="header"
  class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="icon-logo-letras-javier"></i>
      Hector javier Moreno
    </a>
    <button class="navbar-toggler"
      
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#main">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Content-gridWrapper">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s-carreras">Conocimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#place-time">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#place-time">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#place-time">Aficiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#place-time">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Header -->
