<!-- Header -->
<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="icon-logo-letras-javier" style="margin-right: 5px;"></i>
      Hector javier Moreno &#129409;
      
    </a>
    <button class="navbar-toggler"
      
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#main" data-smooth-scroll data-animation-duration="1000">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Content-gridWrapper"  data-smooth-scroll data-animation-duration="1000">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s-carreras" data-smooth-scroll data-animation-duration="1000">Conocimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s-lineatiempo"  data-smooth-scroll data-animation-duration="1000">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s-proyectos" data-smooth-scroll data-animation-duration="1000">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s-aficiones" data-smooth-scroll data-animation-duration="1000">Aficiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#s-footer" data-smooth-scroll data-animation-duration="1000">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Header -->



