<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<p id="pruebap" data-threshold="700">If the viewport is less than, or equal to, 700 pixels wide, the background color will be yellow. If it is greater than 700, it will change to pink.</p>
<p><strong>Resize the browser window to see the effect.</strong></p>

<script>
function myFunction(x) {
  if (x.matches) { // Si la consulta de medios coincide
    // document.body.style.backgroundColor = "yellow";
    var b = document.querySelector("#pruebap"); 
    b.setAttribute("data-threshold", "900");
  } else {
    var b = document.querySelector("#pruebap"); 
    b.setAttribute("data-threshold", "700");
  }
}

var x = window.matchMedia("(max-width: 700px)")
myFunction(x) // Llamar a la función de escucha en tiempo de ejecución
x.addListener(myFunction) // Adjuntar función de escucha en cambios de estado
</script>

</body>
</html>