<section id="s-proyectos">

  <div id="s-proyectos-container" class="grid-container">
    <div class="grid-x">
      <div id="h3-proyectos" class="cell medium-6 medium-offset-3">
        <h1>04 Proyectos</h1>
      </div>

      <div id="proyec-cell" class="cell small-12 medium-6 large-5">
        
          <figure id="id-figure1"></figure>
          <div id="proyectos-cell-texto">
            <h3>Proyecto Bujacargo</h3>
            <p>Página Web Diseñada para la empresa transportadora Bujacargo</p>
            <a href="https://cytelsystem.github.io/bujacargo" target="_blank">Acceder detalle</a>
          </div>
        
      </div>

      <div id="proyec-cell" class="cell small-12 medium-6 large-5">
        <figure id="id-figure2"></figure>
        <div id="proyectos-cell-texto">
          <h3>Proyecto Camaras</h3>
          <p>Proyecto de camaras para el conjunto Torres de Bellavista, el cual se realizo levantamiento y licitacion </p>
          <a href="" data-toggle="modal" data-target="#modalvideo">Acceder detalle</a>
          <!-- modal -->
          <div id="modalvideo" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6RW0W0T8zlw" frameborder="0" allowfullscreen></iframe>
                  </div>
                  
                </div>
            
              </div>
            </div>
          </div>
          <!-- modal/ -->

        </div>
      </div>
      <div id="proyec-cell" class="cell small-12 medium-6 large-5">
        <figure id="id-figure3"> </figure>
        <div id="proyectos-cell-texto">
          <h3>Base de Datos Cajero</h3>
          <p>Base de datos cajero en acces con conexion en asp y html atravez de ODBC</p>
          <a href="cytelsystem.github.io/bujacargo" target="_blank">Acceder detalle</a>
        </div>
      </div>





    </div>

  </div>


</section>


