<section id="s-proyectos1">

  <div id="s-proyectos-container1" class="grid-container">

    <div class="grid-x">
      <div id="titulo-proyectos" class="cell medium-12"><h1>05 Proyectos1</h1></div>
    </div>

    <div class="grid-x">
      <div class="cell cell-targe small-12 medium-5">
        <div class="grid-x">
          
          <div class="cell medium-5"><figure id="id-figure1"></figure></div>
          
          <div class="cell medium-7">
            <div class="grid-y">
              <div class="cell cel-titulo-targe"><h3>Proyecto Bujacargo</h3></div>
              <div class="cell cel-body-targe"><p>Página Web Diseñada para la empresa transportadora Bujacargo</p></div>
              <div class="cell cel-vermas-targe"><a href="https://cytelsystem.github.io/bujacargo" target="_blank">Ver más</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="cell medium-1"></div>

      <div class="cell cell-targe small-12 medium-5">
        <div class="grid-x">
          <!-- imagen -->
          <div class="cell medium-5"><figure id="id-figure2"></figure></div>
          <!-- texto -->
          <div class="cell medium-7">
            <div class="grid-y">
              <div class="cell cel-titulo-targe"><h3>Proyecto Camaras</h3></div>
              <div class="cell cel-body-targe"><p>Proyecto de camaras para el conjunto Torres de Bellavista, el cual se realizo levantamiento y licitacion.</p></div>
              <div class="cell cel-vermas-targe"><a href="https://cytelsystem.github.io/bujacargo" target="_blank">Ver más</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell cell-targe small-12 medium-5">
        <div class="grid-x">
          <!-- imagen -->
          <div class="cell medium-5"><figure id="id-figure3"></figure></div>
          <!-- texto -->
          <div class="cell medium-7">
            <div class="grid-y">
              <div class="cell cel-titulo-targe"><h3>Base de Datos Cajero</h3></div>
              <div class="cell cel-body-targe"><p>Base de datos cajero en acces con conexion en asp y html atravez de ODBC</p></div>
              <div class="cell cel-vermas-targe"><a href="https://cytelsystem.github.io/bujacargo" target="_blank">Ver más</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-1"></div>
      <div class="cell medium-5"></div>


    </div>

  </div>

</section>