

<section id="s-carreras">
  <div class="grid-container">
    <div id="title" class="grid-x">
      <div class="cell small-12">
        <h1 class="h3">02 CONOCIMIENTO</h1>
      </div>
    </div>

                <!-- hector -->


                <div class="grid-x grid-margin-x" id="series-example">
                  <div class="cell small-3">
                    <img class="thumbnail" src= "./assets/img/Diploma-Carrera-Administracion-Servidores.png" id="series-example-1">
                  </div>
                  <div class="cell small-3">
                    <img class="thumbnail" src= "./assets/img/Diploma-Carrera-Arquitectura-Frontend.png" id="series-example-2">
                  </div>
                  <div class="cell small-3">
                    <img class="thumbnail" src= "./assets/img/Diploma-Carrera-AWS.png" id="series-example-3">
                  </div>
                  <div class="cell small-3">
                    <img class="thumbnail" src= "./assets/img/Diploma-Carrera-Bdatos.png" id="series-example-3">
                  </div>
                </div>
                                <!-- javier -->



    <!-- hector -->
    <div class="top-bar">
      <div class="top-bar-left">
        <div id="carreras1" class="grid-x dropdown menu" data-dropdown-menu>
          <div id="li1" class="cell small-6 medium-3 mega-menu" onmousemove="ocultarcert(event)" onmouseout="mostrarcert()">
            <a
              data-toggle="mega-menu1"
              href="#carreras1"
              
            >
              <figure>
                <img
                  src="https://static.platzi.com/media/achievements/goldenbadge-aws-e0b34ec6-0e9a-4133-a248-1e55cdc260d3.png"
                  width="90"
                  alt="Amazon Web Services"
                  height="90"
                />
              </figure>
              <h4>Carrera Amazon web Services</h4>
              <div id="buttons"><i class="mas"></i></div>
            </a>

            <div
              class="dropdown-pane bottom"
              id="mega-menu1"
              data-dropdown
              data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11"
              
            >


              <div class="row1 expanded">
                <!-- hector -->

                {{> cursos-aws}}
                

                <!--javier  -->
              </div>
            </div>
          </div>

          <div id="li2" class="cell small-6 medium-3 mega-menu" onmousemove="ocultarcert(event)" onmouseout="mostrarcert()">
            <a
              data-toggle="mega-menu2"
              href="./assets/img/Diploma-Carrera-Administracion-Servidores.png"
            >
              <figure>
                <img
                  src="https://static.platzi.com/media/achievements/golden_servidores2x.png"
                  width="90"
                  alt="Administración de Servidores y DevOps"
                  height="90"
                />
              </figure>
              <h4>Carrera Administracion de Servidores y DevOps</h4>
              <div id="buttons"><i class="mas"></i></div>
            </a>

            <div
              class="dropdown-pane bottom"
              id="mega-menu2"
              data-dropdown
              data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11"
              onmouseout="mostrarcert(event)"
            >
              <div class="row expanded">
                <!-- hector -->
                {{> cursos-sevidores}}

                <!--javier  -->
              </div>
            </div>
          </div>
          <div id="li3" class="cell small-6 medium-3 mega-menu" onmousemove="ocultarcert(event)" onmouseout="mostrarcert()">
            <a
              data-toggle="mega-menu3"
              href="./assets/img/Diploma-Carrera-Arquitectura-Frontend.png"
            >
              <figure>
                <img
                  src="https://static.platzi.com/media/achievements/Golden-badge-arquitecto-front.png"
                  width="90"
                  alt="Arquitectura Frontend"
                  height="90"
                />
              </figure>
              <h4>Carrera Arquitectura Frontend</h4>
              <div id="buttons"><i class="mas"></i></div>
            </a>

            <div
              class="dropdown-pane bottom"
              id="mega-menu3"
              data-dropdown
              data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11"
              onmouseout="mostrarcert(event)"
            >
              <div class="row expanded">
                <!-- hector -->
                {{> cursos-frontend}}

                <!--javier  -->
              </div>
            </div>
          </div>
          <div id="li4" class="cell small-6 medium-3 mega-menu" onmousemove="ocultarcert(event)" onmouseout="mostrarcert()">
            <a
              data-toggle="mega-menu4"
              href="./assets/img/Diploma-Carrera-Bdatos.png"
            >
              <figure>
                <img
                  src="https://static.platzi.com/media/achievements/golden_datos2x.png"
                  width="90"
                  alt="Bases de Datos desde Cero"
                  height="90"
                />
              </figure>
              <h4>Carrera de Bases de Datos</h4>
              <div id="buttons"><i class="mas"></i></div>
            </a>

            <div
              class="dropdown-pane bottom"
              id="mega-menu4"
              data-dropdown
              data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11"
              onmouseout="mostrarcert(event)"
              >
              <div class="row expanded">
                <!-- hector -->
                {{> cursos-bdatos}}
              

                <!--javier  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- javier -->

    <div id="otros-cursos">
      <h2>Otros Cursos y Certificaciones</h2>
      <div class="grid-x">
        <div class="cell medium-3">
          <a
            href="https://platzi.com/@hectorjm/curso/1277-redes/diploma/detalle/"
            ><figure>
              <img
                src="https://static.platzi.com/media/achievements/1277-9358e87f-0435-48a4-b158-3d6bde87bca0.png"
                width="60"
                height="60"
                alt="Curso de Redes de Internet"
              />
            </figure>
            <h3>Curso de Redes de Internet</h3></a
          >
        </div>
        <div class="cell medium-3">
          <a
            href="https://platzi.com/@hectorjm/curso/1496-seguridad-informatica/diploma/detalle/"
            ><figure>
              <img
                src="https://static.platzi.com/media/achievements/badge-introduccion-seguridad-informatica-905ce3cb-b80b-48a6-97ae-d438567a1d24.png"
                width="60"
                height="60"
                alt="Curso de Introducción a la Seguridad Informática"
              />
            </figure>
            <h3>Curso de Introducción a la Seguridad Informática</h3></a
          >
        </div>
        <div class="cell medium-3">
          <a
            href="https://platzi.com/@hectorjm/curso/1393-fundamentos-matematicas/diploma/detalle/"
            ><figure>
              <img
                src="https://static.platzi.com/media/achievements/1393-88e062fc-31f2-4e1e-9cd9-d9bd96e6a319.png"
                width="60"
                height="60"
                alt="Curso de Fundamentos de Matemáticas"
              />
            </figure>
            <h3>Curso de Fundamentos de Matemáticas</h3></a
          >
        </div>
        <div class="cell medium-3">
          <a href="./assets/img/Certificado-Implementacion-SQL-Server-7.jpg"
            ><figure>
              <img
                src="./assets/img/iconos/sql-server-7.png"
                width="60"
                height="60"
                alt="Curso de SQL Server 7.0 > 2000"
              />
            </figure>
            <h3>Curso de SQL Server 7.0 > 2000</h3></a
          >
        </div>
        <div class="cell medium-3">
          <a href="./assets/img/Certificado-reparacion-cel-tables.png"
            ><figure>
              <img
                src="./assets/img/iconos/icono-reparador-cel-tables.png"
                width="60"
                height="60"
                alt="Reparador de celulares y tablets"
              />
            </figure>
            <h3>Reparador de celulares y tablets</h3></a
          >
        </div>
        <div class="cell medium-3">
          <a href="./assets/img/cetificado-aux-prog-analisis.jpg"
            ><figure>
              <img
                src="./assets/img/iconos/analisis-programacion.png"
                width="60"
                height="60"
                alt="Auxiliar de Programación y Análisis de Sistemas"
              />
            </figure>
            <h3>Auxiliar de Programación y Análisis de Sistemas</h3></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function ocultarcert(){
      
    document.getElementById('otros-cursos').style.display="none";
  }
  
  function mostrarcert(){
    document.getElementById('otros-cursos').style.display="block";
  }
</script>



